@mixin breakpoint($point) {
  @if $point == mobile {
    @media (min-width: 320px) {
      @content;
    }
  } @else if $point == mobile {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: 1224px) {
      @content;
    }
  }
}

@mixin flex(
  $align-items: center,
  $justify-content: center,
  $flex-direction: row
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin pseudo($display: block, $position: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $position;
}

@mixin h-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin border-radius($radius: 5px) {
  border-radius: $radius;
}

@mixin sans-serif {
  font-family: 'Poppins', sans-serif;
}

@mixin serif {
  font-family: 'Playfair Display', serif;
}

@mixin font-style(
  $size: false,
  $color: false,
  $weight: false,
  $lineheight: false,
  $serif: false
) {
  @if ($serif) {
    @include serif;
  } @else {
    @include sans-serif;
  }

  @if $size {
    font-size: $size;
  }
  @if $color {
    color: $color;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lineheight {
    line-height: $lineheight;
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin default-transition($duration: $transition-duration, $property: all) {
  transition: $property $duration ease;
}
