$primary-accent: #fe3448;
$secondary-accent: #2b4570;

$primary-light: rgb(255, 255, 255);
$secondary-light: #ced0da;

$primary-dark: rgb(32, 31, 40);
$secondary-dark: #9794a5;

$transition-duration: 0.3s;

$max-width: 1400px;
